.bg-blue {
  background-color: #90b0f1;
}

/*Navigation Bar*/
ul.navigation
{
    /*sticky
    position: sticky;*/
    top:0;
    background-color: darkcyan;
    list-style-type: none;
    padding: 0%;
    overflow: hidden;
    border: solid white 1px;
    z-index: 11;
}

ul.navigation li
{ 
    text-align: center;
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 120px;
    height: 100%;
    display: block;
    color: white;
}

li.left{
  float: left;
  color: black;
}

li.right{
  float: right;
}

ul.navigation li a, ul.navigation li a:link,ul.navigation li a:hover,ul.navigation li a:active
{
    color:white;
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 5px 0px;
    margin: 0px;
    
}

ul.navigation li a:hover, a:active
{ 
    background-color: rgb(89, 116, 189);
}

li.currentPage
{
    background-color: rgb(2, 95, 95)
}
